<main>
    Bienvenue sur l'admin ! Vous pouvez ici gérer vos auteurs et vos livres.
</main>
<aside>
    <a href="{{ path('admin_accueil') }}">Voir les livres</a>
    <a href="{{ path('admin_auteurs') }}">Voir les auteurs</a>
</aside>
