

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
        {% block heade %}
                <meta charset="UTF-8">
                <title>Title</title>

                <link  type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
</head>
<body>
<header>
        {% block header %}
                <div class="logo ">
                        <img class="img-fluid" src="{{ asset('img/logo_google.png') }}" alt="logo" width="850" height="300"></div>
                <nav>
                        <ul>
                                <li>Lien 1</li>
                                <li>Lien 2</li>
                                <li>Lien 3</li>
                        </ul>
                </nav>
        {% endblock %}
</header>


<main>
        <section>
                {% block section1 %}
                        <div class="search">
                                <form action="{{ path('book_search') }}" method="get">
                                        <label for="word"><strong>Que cherchez vous ? </strong></label>
                                        <input type="text" name="word" placeholder="Votre recherche">
                                        <input type="submit">

                                </form>
                        </div>
                {% endblock %}
        </section>

        <section>
                {% block section2 %}

                {% endblock %}
        </section>
</main>
<div id="footer">
        {% block footer %}
                &copy; Copyright 2020 by <a href="#!">Micaël L.</a>.
        {% endblock %}
</div>
</body>